<div style="text-align:center">
  <h1 class="bg-info text-white">Tworzenie nowego posta</h1>
</div>
<form class="post-form" #postForm="ngForm" (ngSubmit)="onSubmit(postForm)">
  <div class="form-row">
    <div class="form-group col-md-12">
      <h2>Wprowadź dane nowego posta</h2>
    </div>
    <div class="form-group col-md-6">
      <input class="form-control" name="Title" #Author="ngModel" [(ngModel)]="postService.selectedPost.Title" placeholder="Tytuł"
        required>
      <br/>
      <textarea class="form-control" style="height: 170px;" name="Content" #Content="ngModel" [(ngModel)]="postService.selectedPost.Content"
        placeholder="Treść posta" required></textarea>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-8" style="text-align: left">
      <button type="submit" class="btn  btn-info" style="width:25%">
        <i class="fa fa-floppy-o"></i> Zapisz post</button>
      <button type="button" class="btn  btn-secondary" style="width:40%" (click)="resetForm(postForm)">
        <i class="fa fa-repeat"></i> Wyczyść formularz</button>
    </div>
  </div>
</form>